@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&family=Roboto:wght@400;500;700&display=swap");

.search-bar {
}

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  background-color: lightblue;
  width: 150px;
}
.middle-section {
  background-color: lightcoral;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}
.right-section {
  background-color: lightgreen;
  width: 200px;
}
